// Couleurs de la charte graphique
$color-primary: #906427;
$color-secondary: #B6A797;
$color-dark: #392C1E;
$color-bg-dark: #292222;
$color-white: #fff;

// Typographies
$font-title: "Montserrat", sans-serif;
$font-text: "Hind Madurai", sans-serif;